
<img src="/tg/extras/alliance.gif" alt="Alliance" style="float: left;">
<img src="/tg/extras/alliance.gif" alt="Alliance" style="float: right;">
<h4> Alliance </h4>
<ul>
	<li> <a href='/tg/a/01_11_Dun_Morogh.html'> Dun Morogh (1-11) </a> </li>
	<li> <a href='/tg/a/01_12_Elwynn_Forest.html'> Elwynn Forest (1-12) </a> </li>
	<li> <a href='/tg/a/01_12_Azuremyst_Isle.html'> Azuremyst Isle (1-12) </a> </li>
	<li> <a href='/tg/a/12_20_Bloodmyst_Isle.html'> Bloodmyst Isle (12-20) </a> </li>
	<li> <a href='/tg/a/20_21_Darkshore_Draenei.html'> Darkshore (20-21 Draenei) </a> </li>
	<li> <a href='/tg/a/01_12_Teldrassil.html'> Teldrassil (1-12) </a> </li>
	<li> <a href='/tg/a/12_17_Darkshore.html'> Darkshore (12-17) </a> </li>
	<li> <a href='/tg/a/17_18_Loch_Modan.html'> Loch Modan (17-18) </a> </li>
	<li> <a href='/tg/a/18_20_Redridge_Mountains.html'> Redridge Mountains (18-20) </a> </li>
	<li> <a href='/tg/a/20_21_Darkshore.html'> Darkshore (20-21) </a> </li>
	<li> <a href='/tg/a/22_24_Ashenvale.html'> Ashenvale (22-24) </a> </li>
	<li> <a href='/tg/a/25_27_Wetlands.html'> Wetlands (25-27) </a> </li>
	<li> <a href='/tg/a/27_28_Redridge_Mountains.html'> Redridge Mountains (27-28) </a> </li>
	<li> <a href='/tg/a/28_29_Duskwood.html'> Duskwood (28-29) </a> </li>
	<li> <a href='/tg/a/29_30_Ashenvale.html'> Ashenvale (29-30) </a> </li>
	<li> <a href='/tg/a/30_31_Wetlands.html'> Wetlands (30-31) </a> </li>
	<li> <a href='/tg/a/31_32_Hillsbrad_Foothills.html'> Hillsbrad Foothills (31-32) </a> </li>
	<li> <a href='/tg/a/33_35_Desolace.html'> Desolace (33-34) </a> </li>
	<li> <a href='/tg/a/36_37_Stranglethorn.html'> Stranglethorn Vale (36-37) </a> </li>
	<li> <a href='/tg/a/37_38_Dustwallow_Marsh.html'> Dustwallow Marsh (37-38) </a> </li>
	<li> <a href='/tg/a/38_40_Stranglethorn.html'> Stranglethorn Vale (38-40) </a> </li>
	<li> <a href='/tg/a/40_41_Badlands.html'> Badlands (40-41) </a> </li>
	<li> <a href='/tg/a/41_42_Stranglethorn.html'> Stranglethorn Vale (41-42) </a> </li>
	<li> <a href='/tg/a/43_Tanaris.html'> Tanaris (43) </a> </li>
	<li> <a href='/tg/a/43_45_Feralas.html'> Feralas (43-45) </a> </li>
	<li> <a href='/tg/a/46_47_Hinterlands.html'> The Hinterlands (46-47) </a> </li>
	<li> <a href='/tg/a/47_Feralas.html'> Feralas (47) </a> </li>
	<li> <a href='/tg/a/47_48_Tanaris.html'> Tanaris (47-48) </a> </li>
	<li> <a href='/tg/a/49_50_Blasted_Lands.html'> Blasted Lands (49-50) </a> </li>
	<li> <a href='/tg/a/50_51_Searing_Gorge.html'> Searing Gorge (50-51) </a> </li>
	<li> <a href='/tg/a/51_Kalimdor.html'> Kalimdor (51) </a> </li>
	<li> <a href='/tg/a/51_52_UnGoro_Crater.html'> Un'Goro Crater (51-52) </a> </li>
	<li> <a href='/tg/a/52_53_Azshara.html'> Azshara (52-53) </a> </li>
	<li> <a href='/tg/a/53_54_Felwood.html'> Felwood (53-54) </a> </li>
	<li> <a href='/tg/a/54_55_Winterspring.html'> Winterspring (54-55) </a> </li>
	<li> <a href='/tg/a/55_56_Burning_Steppes.html'> Burning Steppes (55-56) </a> </li>
	<li> <a href='/tg/a/56_Silithus.html'> Silithus (56) </a> </li>
	<li> <a href='/tg/a/56_57_Western_Plaguelands.html'> Western Plaguelands (56-57) </a> </li>
	<li> <a href='/tg/a/57_58_Eastern_Plaguelands.html'> Eastern Plaguelands (57-58) </a> </li>
	<li> <a href='/tg/a/58_Western_Plaguelands.html'> Western Plaguelands (58) </a> </li>
	<li> <a href='/tg/a/58_Eastern_Plaguelands.html'> Eastern Plaguelands (58) </a> </li>
	<li> <a href='/tg/a/58_59_Western_Plaguelands.html'> Western Plaguelands (58-59) </a> </li>
	<li> <a href='/tg/a/60_62_Hellfire_Peninsula.html'> Hellfire Peninsula (60-62) </a> </li>
	<li> <a href='/tg/a/62_63_Zangarmarsh.html'> Zangarmarsh (62-63) </a> </li>
	<li> <a href='/tg/a/64_65_Terokkar.html'> Terokkar Forest (64-65) </a> </li>
	<li> <a href='/tg/a/65_66_Nagrand.html'> Nagrand (65-66) </a> </li>
	<li> <a href='/tg/a/66_67_BladesEdge.html'> Blade's Edge Mountains (66-67) </a> </li>
	<li> <a href='/tg/a/67_70_Netherstorm.html'> Netherstorm (67-70) </a> </li>
	<li> <a href='/tg/a/70_Shadowmoon_Valley.html'> Shadowmoon Valley (70) </a> </li>
	<li> <a href='/tg/a/70_72_Howling_Fjord.html'> Howling Fjord (70-72) </a> </li>
	<li> <a href='/tg/a/70_72_Borean_Tundra.html'> Borean Tundra (70-72) </a> </li>
	<li> <a href='/tg/a/72_73_Dragonblight.html'> Dragonblight (72-73) </a> </li>
</ul>
